body{
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: 'Noto Sans';
}

nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1.5% 1%;
}

#leftnav{
    width: 13%;
}

#about{

}

button:hover{
    cursor: pointer;
}

#rightnav{
    display: flex;
    width: 13%;
    justify-content: space-between;
}

#morebutton{
    background: none;
    border: none;
    scale: 1.5;
    margin-right: 5%;
}

#morebutton:hover{
    transform: scale(1.15);
}

#signbutton{
    color: cornsilk;
    background-color: #4169e1;
    font-size: 90%;
    border: none;
    padding: 0% 2% ;
}

a.link{
    margin: 5%;
    margin-bottom: 0%;
    margin-top: auto;
    text-decoration: none;
    vertical-align: middle;
    font-size: 90%;
    font-weight: 300;
    color: rgb(73, 71, 71);
}
.link:hover{
    text-decoration: underline;
}

main{
    align-self: center;
    height: 80%;
    width: 45%;
}

h1{
    margin: 2% 0%;
    width: 100%;
    text-align: center;
    top: 3%;
    font-size: 600%;
}

.letter{
    margin: 0;
    padding: 0;
    position: relative;
}

#g1{
    color: #4169e1;
    position: static;
}
#o1{
    color: #dc143c;
    right: 0.6%;
}
#o2{
    color: #daa520;
    right: 1.2%;
}
#g2{
    color: #4169e1;
    right: 1.8%;
}
#l{
    color: #228b22;
    right: 2.4%;
}
#e{
    display: inline-block;
    color: #dc143c;
    transform: rotate(-11deg);
    right: 3.4%;
}

form{
    width: 70%;
    margin-top: 2%;
    margin: auto;
}

input{
    width: 100%;
    margin-bottom: 5%;
    font-size: 100%;
    padding: 2% 0% 2% 6.5%;
    border-radius: 5%;
}

#searchbuttons{
    margin: auto;
    width: 50%;
}

button.search{
    border: solid 1px white;
    color: gray;
    font-size: 100%;
    font-weight: 50;
    padding: 2%;
}

button.search:hover{
    border: 1px solid darkgray;
    color: black;
}
#searchbar{
    position: relative;
}

#searchicon{
    position: absolute;
    top: 1em;
    left: 2%;
    z-index: 1;
    color: rgb(204, 198, 198);
    transform: scale(1.2);
}

footer{
    height: 5%;
    width: 100%;
    margin: 0%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(0deg,rgb(194, 186, 186), white);
    align-items: center;
}
#leftfoot{
    width: 30%;
}
#rightfoot{
    width: 30%;
    text-align: right;
}


@media(orientation: portrait){
    main{
        width: 75%;
    }
    #leftnav{
        width: 30%;
    }
    #rightnav{
        width: 30%;
    }
    #leftfoot{
        width: 50%;
    }
    #rightfoot{
        width: 50%;
    }
}